<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<h2>Comments</h2>
<div id="comments">
<% @post.comments.each do |comment| %>
	<%= render :partial => @post.comments.reverse %>
<%end%>
</div>

<%=form_for([@post, Comment.new], remote: true) do |f| %>
	<%= f.label :body, "New Comment" %><br/>
	<%= f.text_area :body %><br/>
	<%= f.submit "Add Comment" %>
<%end%>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
